[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw
[submodule "ext/cuda-samples"]
	path = ext/cuda-samples
	url = https://github.com/NVIDIA/cuda-samples
[submodule "ext/stb"]
	path = ext/stb
	url = https://github.com/nothings/stb
[submodule "ext/assimp"]
	path = ext/assimp
	url = https://github.com/assimp/assimp
[submodule "ext/toml"]
	path = ext/toml
	url = https://github.com/ToruNiina/toml11
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui
